<div cdkDropListGroup>
    <div cdkDropList [cdkDropListData]="seatsAngular" (cdkDropListDropped)="dropItem($event)" class="angular">
        <h1>Angular</h1>
        <div *ngFor="let item of seatsAngular" cdkDrag>
            {{item}}

            <!-- (cdkDragEnded)="dragEnded($event)" -->
        </div>

    </div>

    <div cdkDropList [cdkDropListData]="seatsJava" (cdkDropListDropped)="dropItem($event)" class="java">
        <h1>Java</h1>
        <div *ngFor="let item of seatsJava" cdkDrag>
            {{item}}
            <!-- (cdkDragMoved)="dragMoved($event)" -->
        </div>

    </div>

    <div cdkDropList [cdkDropListData]="seatsPython" (cdkDropListDropped)="dropItem($event)" class="python">
        <h1>Python</h1>
        <div *ngFor="let item of seatsPython" cdkDrag>
            {{item}}

            <!-- (cdkDragEnded)="dragEnded($event)" -->
        </div>

    </div>

    <div cdkDropList [cdkDropListData]="seatsReact" (cdkDropListDropped)="dropItem($event)" class="react">
        <h1>React</h1>
        <div *ngFor="let item of seatsReact" cdkDrag>
            {{item}}
            <!-- (cdkDragMoved)="dragMoved($event)" -->
        </div>

    </div>
</div>